{% extends 'base.html' %}
{% block body %}
{% load static %}

<!--<nav class="navbar navbar-light bg-light">-->
<!--    <a class="btn btn-primary" href="review">review</a>-->
<!--</nav>-->
<!--<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">-->
    <div class="team-item position-relative rounded overflow-hidden">
        <div class="overflow-hidden">
            <img class="img-fluid" src="{% static 'img/team-4.jpg' %}" alt="" style="width:650px;height:450px;">
        </div>
        <div>
            <h5>FILM:Premalu</h5>
            <h5>ACTORS:Mamitha,Neslin,Sangeeth</h5>
            <h5>CATEGORY:Comedy</h5>
            <p>Released on February 10 "<br>
                Premalu is an out & out rom-com entertainer from Girish AD. There is no single dull moment in film and that itself is the biggest plus of the movie. The comedy strikes all the right chords and the cute romance between Naslen & Mamitha are sure to tingle some nostalgic memories in your brain.<br>
                <a href="https://youtu.be/ZoQeWqbjnic?si=8eXwcEZTKtc2e2Jt">Trailer</a></p>


        </div>
    </div>
</div>



   {% endblock %}

