
{% extends 'base.html' %}
{% block body %}
{% load static %}


<!--<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">-->
    <div class="team-item position-relative rounded overflow-hidden">
        <div class="overflow-hidden">
            <img class="img-fluid" src="{% static 'img/team-3.jpg' %}" alt="" style="width:650px;height:450px;">
        </div>
        <div>
            <h5>FILM:The Goat Life</h5>
            <h5>ACTORS: Prethviraj,Amala pau</h5>
            <h5>CATEGORY:Emotional</h5>
            <p>Released on March 28"<br>
                It is an adaptation of the 2008 best-selling Malayalam novel Aadujeevitham by Benyamin, which is based on the real-life story of Najeeb, a Malayali immigrant laborer, one among thousands of Indians who were forced into slavery in Saudi Arabia as goatherds on secluded farms in the deserts by the native Arabs.<br>
                <a href="https://youtu.be/qvsiJKdDxPs?si=d0YkWr6HYkQ2Xx0P">Trailer</a></p>
            <nav class="navbar navbar-light bg-light">
                <a class="btn btn-primary" href="homes">REVIEW</a>
            </nav>
            <nav class="navbar navbar-light bg-light">
                <a class="btn btn-primary" href="index">Back</a>
            </nav>
        </div>
    </div>
</div>



   {% endblock %}

