{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Index</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon}">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-light p-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-map-marker-alt text-primary me-2"></small>
                    <small>123 Street, New York, USA</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center py-3">
                    <small class="far fa-clock text-primary me-2"></small>
                    <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-phone-alt text-primary me-2"></small>
                    <small>+012 345 6789</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-sm-square rounded-circle bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h1 class="m-0 text-primary"><i class="fa fa-film"></i>Film</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                {% if user.is_authenticated %}
                <li></li> </li>
                <a href="logout" class="nav-item nav-link active">Logout</a>
                {% else %}
                <a href="{% url 'register' %}" class="nav-item nav-link">Register</a>
                <a href="login" class="nav-item nav-link">Login</a>
                {% endif %}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Movie Collection</a>
                    <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                        <a href="romance" class="dropdown-item">Romance</a>
                        <a href="emot" class="dropdown-item">Emotional</a>
                        <a href="horror" class="dropdown-item">Horror</a>
                        <a href="comedy" class="dropdown-item">Comedy</a>
                        <a href="cri" class="dropdown-item">Crime</a>
                    </div>
                </div>
                <a href="index.html" class="nav-item nav-link">Index</a>
            </div>
        </div>
        <form class="d-flex" action="{% url 'search' %}" method="get">
        {% csrf_token %}

        <input class="form-control me-2" type="search" placeholder="Search"  name="q" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </nav>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid header bg-primary p-0 mb-5">
        <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
            <div class="col-lg-6 p-5 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="display-4 text-white mb-5">MOVIE MAGIC UNFOLDS HERE</h1>
                <div class="row g-4">
                    <div class="col-sm-4">
                        <div class="border-start border-light ps-4">
<!--                            <h2 class="text-white mb-1" data-toggle="counter-up"></h2>-->
<!--                            <p class="text-light mb-0">Expert Doctors</p>-->
                        </div>
                    </div>
<!--                    <div class="col-sm-4">-->
<!--                        <div class="border-start border-light ps-4">-->
<!--                            <h2 class="text-white mb-1" data-toggle="counter-up">1234</h2>-->
<!--                            <p class="text-light mb-0">Medical Stuff</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-4">-->
<!--                        <div class="border-start border-light ps-4">-->
<!--                            <h2 class="text-white mb-1" data-toggle="counter-up">12345</h2>-->
<!--                            <p class="text-light mb-0">Total Patients</p>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="owl-carousel header-carousel">
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="{% static 'img/carousel-1.jpg' %}" alt="" >
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">FILM</h1>
                        </div>
                    </div>
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="{% static 'img/about-1.jpg' %}" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">FILM</h1>
                        </div>
                    </div>
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="{% static 'img/about-2.jpg' %}" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">FILM</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
<!--    <div class="container-xxl py-5">-->
<!--        <div class="container">-->
<!--            <div class="row g-5">-->
<!--                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <img class="img-fluid rounded w-75 align-self-end" src="{% static 'img/about-1.jpg' %}" alt="">-->
<!--&lt;!&ndash;                        <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="{% static 'img/about-2.jpg' %}" alt="" style="margin-top: -25%;">&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">-->
<!--                    <p class="d-inline-block border rounded-pill py-1 px-4">About Us</p>-->
<!--                    <h1 class="mb-4">Why You Should Trust Us? Get Know About Us!</h1>-->
<!--                    <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>-->
<!--                    <p class="mb-4">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam rebum amet diam ipsum. Clita clita labore, dolor duo nonumy clita sit at, sed sit sanctus dolor eos.</p>-->
<!--                    <p><i class="far fa-check-circle text-primary me-3"></i>Quality health care</p>-->
<!--                    <p><i class="far fa-check-circle text-primary me-3"></i>Only Qualified Doctors</p>-->
<!--                    <p><i class="far fa-check-circle text-primary me-3"></i>Medical Research Professionals</p>-->
<!--                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
<!--    <div class="container-xxl py-5">-->
<!--        <div class="container">-->
<!--            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">-->
<!--                <p class="d-inline-block border rounded-pill py-1 px-4">Services</p>-->
<!--                <h1>Health Care Solutions</h1>-->
<!--            </div>-->
<!--            <div class="row g-4">-->
<!--                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">-->
<!--                    <div class="service-item bg-light rounded h-100 p-5">-->
<!--                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">-->
<!--                            <i class="fa fa-heartbeat text-primary fs-4"></i>-->
<!--                        </div>-->
<!--                        <h4 class="mb-3">Cardiology</h4>-->
<!--                        <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>-->
<!--                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">-->
<!--                    <div class="service-item bg-light rounded h-100 p-5">-->
<!--                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">-->
<!--                            <i class="fa fa-x-ray text-primary fs-4"></i>-->
<!--                        </div>-->
<!--                        <h4 class="mb-3">Pulmonary</h4>-->
<!--                        <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>-->
<!--                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">-->
<!--                    <div class="service-item bg-light rounded h-100 p-5">-->
<!--                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">-->
<!--                            <i class="fa fa-brain text-primary fs-4"></i>-->
<!--                        </div>-->
<!--                        <h4 class="mb-3">Neurology</h4>-->
<!--                        <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>-->
<!--                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>-->
<!--                    </div>-->
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
<!--                    <div class="service-item bg-light rounded h-100 p-5">-->
<!--                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">-->
                            <i class="<i class="fa fa-camera"></i>
                        </div>
                        <h4 class="mb-3">FrameFriend - Movie World</h4>
                        <p>Your Ultimate Destination for Movie Enthusiasts Dive into the world of cinema like never before with FrameFriends, the premier online hub for movie lovers across the globe. At FrameFriends, we believe that movies are more than just entertainment—they're a way to connect, explore new worlds, and share unforgettable experiences with friends and fellow cinephiles. Whether you're a die-hard film aficionado or just looking for your next movie night pick, FrameFriends offers a vibrant community and a rich selection of features designed to enrich your cinematic journey. Join FrameFriends today and be part of a growing community where movie lovers unite, share, and discover the magic of cinema together. Whether you're looking to get lost in a story, find recommendations, or just chat about your latest watch, FrameFriends is the place for you. Let's embark on this cinematic adventure together—frame by frame, friend by friend."</p>
<!--                        class"btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>-->
                    </div>
                </div>
<!--                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">-->
<!--                    <div class="service-item bg-light rounded h-100 p-5">-->
<!--                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">-->
<!--                            <i class="fa fa-tooth text-primary fs-4"></i>-->
<!--                        </div>-->
<!--                        <h4 class="mb-3">Dental Surgery</h4>-->
<!--                        <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>-->
<!--                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">-->
<!--                    <div class="service-item bg-light rounded h-100 p-5">-->
<!--                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">-->
<!--                            <i class="fa fa-vials text-primary fs-4"></i>-->
<!--                        </div>-->
<!--                        <h4 class="mb-3">Laboratory</h4>-->
<!--                        <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>-->
<!--                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
<!--    &lt;!&ndash; Service End &ndash;&gt;-->


    <!-- Feature Start -->
<!--    <div class="container-fluid bg-primary overflow-hidden my-5 px-lg-0">-->
<!--        <div class="container feature px-lg-0">-->
<!--            <div class="row g-0 mx-lg-0">-->
<!--                <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">-->
<!--                    <div class="p-lg-5 ps-lg-0">-->
<!--                        <p class="d-inline-block border rounded-pill text-light py-1 px-4">Features</p>-->
<!--                        <h1 class="text-white mb-4">Why Choose Us</h1>-->
<!--                        <p class="text-white mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat amet</p>-->
<!--                        <div class="row g-4">-->
<!--                            <div class="col-6">-->
<!--                                <div class="d-flex align-items-center">-->
<!--                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">-->
<!--                                        <i class="fa fa-user-md text-primary"></i>-->
<!--                                    </div>-->
<!--                                    <div class="ms-4">-->
<!--                                        <p class="text-white mb-2">Experience</p>-->
<!--                                        <h5 class="text-white mb-0">Doctors</h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-6">-->
<!--                                <div class="d-flex align-items-center">-->
<!--                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">-->
<!--                                        <i class="fa fa-check text-primary"></i>-->
<!--                                    </div>-->
<!--                                    <div class="ms-4">-->
<!--                                        <p class="text-white mb-2">Quality</p>-->
<!--                                        <h5 class="text-white mb-0">Services</h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-6">-->
<!--                                <div class="d-flex align-items-center">-->
<!--                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">-->
<!--                                        <i class="fa fa-comment-medical text-primary"></i>-->
<!--                                    </div>-->
<!--                                    <div class="ms-4">-->
<!--                                        <p class="text-white mb-2">Positive</p>-->
<!--                                        <h5 class="text-white mb-0">Consultation</h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-6">-->
<!--                                <div class="d-flex align-items-center">-->
<!--                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">-->
<!--                                        <i class="fa fa-headphones text-primary"></i>-->
<!--                                    </div>-->
<!--                                    <div class="ms-4">-->
<!--                                        <p class="text-white mb-2">24 Hours</p>-->
<!--                                        <h5 class="text-white mb-0">Support</h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">-->
<!--                    <div class="position-relative h-100">-->
<!--                        <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/feature.jpg' %}" style="object-fit: cover;" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Feature End -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    The Film
  </a>
</nav>
<nav class="navbar navbar-light bg-light">
    <a class="btn btn-primary" href="add">Add Movie</a>
</nav>

<nav class="navbar navbar-light bg-light">
    <a class="btn btn-primary" href="rev">Review</a>
</nav>


    <!-- Team Start -->
    <div class="container-xxl py-5">

        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">FRAMEFRIENDS</p>
                <h1>Releasing Movie</h1>
            </div>
            <div class="row g-4">
                {% for i in result %}
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{i.img.url}}" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>{{i.name}}</h5>
                            <p>{{i.date}}</p>
                            <a href="{% url  'detail' i.id %}" class="btn btn-primary">Go somewhere</a>

                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">

                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/team-2.jpg' %}" alt="" style="width:650px;height:400px;">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Manjummal boys</h5>
                            <p class="text-primary">February 27 "</p>
                            <nav class="navbar navbar-light bg-light">
                                <a class="btn btn-primary" href="details">details</a>
                            </nav>

<!--                            <a href="detail" class="btn btn-primary">Go somewhere</a>-->

                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

           <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
               <div class="team-item position-relative rounded overflow-hidden">
                   <div class="overflow-hidden">
                       <img class="img-fluid" src="{% static 'img/team-3.jpg' %}" alt="" style="width:650px;height:400px;" >
                   </div>

                   <div class="team-text bg-light text-center p-4">
                       <h5>The Goat Life</h5>
                       <p class="text-primary">March 28</p>
                       <nav class="navbar navbar-light bg-light">
                           <a class="btn btn-primary" href="det">details</a>
                       </nav>

<!--                            <a href="detail" class="btn btn-primary">Go somewhere</a>-->

                       <div class="team-social text-center">
                           <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                           <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                           <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                       </div>
                   </div>
               </div>
           </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/team-4.jpg' %}" alt="" style="width:650px;height:400px;">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Premalu</h5>
                            <p class="text-primary">February 10</p>
                            <nav class="navbar navbar-light bg-light">
                                <a class="btn btn-primary" href="deta">details</a>
                            </nav>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


<!--    <nav class="navbar navbar-light bg-light">-->
<!--        <a class="btn btn-primary" href="add">Add Movie</a>-->
<!--    </nav>-->

<!--     Team End-->


<!--     Appointment Start-->
<!--    <div class="container-xxl py-5">-->
<!--        <div class="container">-->
<!--            <div class="row g-5">-->
<!--                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">-->
<!--                    <p class="d-inline-block border rounded-pill py-1 px-4">Appointment</p>-->
<!--                    <h1 class="mb-4">Make An Appointment To Visit Our Doctor</h1>-->
<!--                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>-->
<!--                    <div class="bg-light rounded d-flex align-items-center p-5 mb-4">-->
<!--                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">-->
<!--                            <i class="fa fa-phone-alt text-primary"></i>-->
<!--                        </div>-->
<!--                        <div class="ms-4">-->
<!--                            <p class="mb-2">Call Us Now</p>-->
<!--                            <h5 class="mb-0">+012 345 6789</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="bg-light rounded d-flex align-items-center p-5">-->
<!--                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">-->
<!--                            <i class="fa fa-envelope-open text-primary"></i>-->
<!--                        </div>-->
<!--                        <div class="ms-4">-->
<!--                            <p class="mb-2">Mail Us Now</p>-->
<!--                            <h5 class="mb-0">info@example.com</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">-->
<!--                    <div class="bg-light rounded h-100 d-flex align-items-center p-5">-->
<!--                        <form>-->
<!--                            <div class="row g-3">-->
<!--                                <div class="col-12 col-sm-6">-->
<!--                                    <input type="text" class="form-control border-0" placeholder="Your Name" style="height: 55px;">-->
<!--                                </div>-->
<!--                                <div class="col-12 col-sm-6">-->
<!--                                    <input type="email" class="form-control border-0" placeholder="Your Email" style="height: 55px;">-->
<!--                                </div>-->
<!--                                <div class="col-12 col-sm-6">-->
<!--                                    <input type="text" class="form-control border-0" placeholder="Your Mobile" style="height: 55px;">-->
<!--                                </div>-->
<!--                                <div class="col-12 col-sm-6">-->
<!--                                    <select class="form-select border-0" style="height: 55px;">-->
<!--                                        <option selected>Choose Doctor</option>-->
<!--                                        <option value="1">Doctor 1</option>-->
<!--                                        <option value="2">Doctor 2</option>-->
<!--                                        <option value="3">Doctor 3</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                                <div class="col-12 col-sm-6">-->
<!--                                    <div class="date" id="date" data-target-input="nearest">-->
<!--                                        <input type="text"-->
<!--                                            class="form-control border-0 datetimepicker-input"-->
<!--                                            placeholder="Choose Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-12 col-sm-6">-->
<!--                                    <div class="time" id="time" data-target-input="nearest">-->
<!--                                        <input type="text"-->
<!--                                            class="form-control border-0 datetimepicker-input"-->
<!--                                            placeholder="Choose Date" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-12">-->
<!--                                    <textarea class="form-control border-0" rows="5" placeholder="Describe your problem"></textarea>-->
<!--                                </div>-->
<!--                                <div class="col-12">-->
<!--                                    <button class="btn btn-primary w-100 py-3" type="submit">Book Appointment</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--     Appointment End-->


<!--    &lt;!&ndash; Testimonial Start &ndash;&gt;-->
<!--    <div class="container-xxl py-5">-->
<!--        <div class="container">-->
<!--            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">-->
<!--                <p class="d-inline-block border rounded-pill py-1 px-4">Testimonial</p>-->
<!--                <h1>What Say Our Patients!</h1>-->
<!--            </div>-->
<!--            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">-->
<!--                <div class="testimonial-item text-center">-->
<!--                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="{% static 'img/testimonial-1.jpg' %}" style="width: 100px; height: 100px;">-->
<!--                    <div class="testimonial-text rounded text-center p-4">-->
<!--                        <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>-->
<!--                        <h5 class="mb-1">Patient Name</h5>-->
<!--                        <span class="fst-italic">Profession</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="testimonial-item text-center">-->
<!--                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="{% static 'img/testimonial-2.jpg' %}" style="width: 100px; height: 100px;">-->
<!--                    <div class="testimonial-text rounded text-center p-4">-->
<!--                        <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>-->
<!--                        <h5 class="mb-1">Patient Name</h5>-->
<!--                        <span class="fst-italic">Profession</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="testimonial-item text-center">-->
<!--                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="{% static 'img/testimonial-3.jpg' %}" style="width: 100px; height: 100px;">-->
<!--                    <div class="testimonial-text rounded text-center p-4">-->
<!--                        <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>-->
<!--                        <h5 class="mb-1">Patient Name</h5>-->
<!--                        <span class="fst-italic">Profession</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Testimonial End &ndash;&gt;-->


<!--    &lt;!&ndash; Footer Start &ndash;&gt;-->
<!--    <div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">-->
<!--        <div class="container py-5">-->
<!--            <div class="row g-5">-->
<!--                <div class="col-lg-3 col-md-6">-->
<!--                    <h5 class="text-light mb-4">Address</h5>-->
<!--                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>-->
<!--                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>-->
<!--                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>-->
<!--                    <div class="d-flex pt-2">-->
<!--                        <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-twitter"></i></a>-->
<!--                        <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>-->
<!--                        <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-youtube"></i></a>-->
<!--                        <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-6">-->
<!--                    <h5 class="text-light mb-4">Services</h5>-->
<!--                    <a class="btn btn-link" href="">Cardiology</a>-->
<!--                    <a class="btn btn-link" href="">Pulmonary</a>-->
<!--                    <a class="btn btn-link" href="">Neurology</a>-->
<!--                    <a class="btn btn-link" href="">Orthopedics</a>-->
<!--                    <a class="btn btn-link" href="">Laboratory</a>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-6">-->
<!--                    <h5 class="text-light mb-4">Quick Links</h5>-->
<!--                    <a class="btn btn-link" href="">About Us</a>-->
<!--                    <a class="btn btn-link" href="">Contact Us</a>-->
<!--                    <a class="btn btn-link" href="">Our Services</a>-->
<!--                    <a class="btn btn-link" href="">Terms & Condition</a>-->
<!--                    <a class="btn btn-link" href="">Support</a>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-6">-->
<!--                    <h5 class="text-light mb-4">Newsletter</h5>-->
<!--                    <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>-->
<!--                    <div class="position-relative mx-auto" style="max-width: 400px;">-->
<!--                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">-->
<!--                        #<button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">framefriends</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
<!--                        /*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">Sneha</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


<!--    &lt;!&ndash; Back to Top &ndash;&gt;-->
<!--    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>-->


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<!--    &lt;!&ndash; Template Javascript &ndash;&gt;-->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>